<!DOCTYPE html>
	<html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title></title>

			<!-- Bootstrap -->
			<link href="/assets/css/bootstrap.css" rel="stylesheet">
			<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

			<style type="text/css">
			a {
				color: black;
				font-weight:bold;
			}

			.modal-body {
    			max-height: 800px;
			}
			</style>
	</head>
	<body>

		<div id="modal" class="modal hide fade">  
			<div class="modal-header">  
				<a href="<%=back%>" class="close">×</a> 
				<h3>Discussion</h3>
				<p class="muted">Case: <%=title%></p>   
			</div>  
			<div class="modal-body">  
				<div class="accordion" id="accordion1">    
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#Subjective">
                                Discussion
                            </a>
                        </div>
                        <div id="Subjective" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p><%=discussion%></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- /accordion -->
			</div>
			<div class="modal-footer">
				<button onclick="location.href='<%=back%>'" class="btn btn-success">Done</button>  
			</div>  
		</div>


   
	    <script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.js"></script>

	   	<script type="text/javascript">
	    	$(window).load(function(){
	    		$('#modal').modal({
  					keyboard: false,
  					backdrop: 'static'
				});
	        	$('#modal').modal('show');
	    	});
		</script>
	</body>
</html>