<!doctype html>
<html>
  
  <head>
    <title>Welcome to Advanced Practice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-responsive.css">
    <link href="/css/form.css" rel="stylesheet">
  </head>

  <body style="background-color: #aeaeae">
    <div class="container">
      <h2 class="text-center form-signin-heading" style="color:#024731"><img src="/images/soap/AP_icon.png"  height="80" width="80">&#160;Advanced Practice</h2>

      <div class="alert alert-danger">
        <p class="text-center"><strong>ERROR! </strong> Incorrect Username and/or Password, or your session has expired.</p> 
      </div>

      <form action="/login" method="POST" class="form-signin" id="form">
        <input class="form-control" placeholder="Email" name="email" required=""
        type="email" autofocus>
        <input class="form-control" name="password" placeholder="Password" type="password">
        <br>
        <button type="submit" class="btn btn-lg btn-success btn-block">Login</button> 
        <button class="btn btn-lg btn-info btn-block" onClick="location.href='/register'; return false;">New Account</button> 
      </form>
    </div>

    <img id="logo" src="/images/UHM_Nursing_mobile_banner.png" class="img-responsive" alt="Responsive image">
  </body>

  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-responsive.css">

</html>

