<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
			
		<title>Main Cases</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Bootstrap -->
		<link href="assets/css/bootstrap.css" rel="stylesheet">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

		<style type="text/css">
			img {
				height: 80px;
				width: 80px
			}
		</style>
	</head>

	<body>

		<!-- Navbar -->
		<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
		    <div class="container">
		      <a class="brand" href="#">Welcome, <%= name %></a>
		      <div class="navbar-content">
		        <ul class="nav  pull-right">
		          <li>
		            <a href="/logout">Log out</a> 
		          </li>
		        </ul>
		      </div>
		    </div>
		  </div>
		</div>

		<div class ="container" style="padding-top:50px">

   			<ul class="breadcrumb text-center">
			  <li><button class="btn btn-link" type="button" onclick="location.href='/adults'" id="adults">Adults</button> <span class="divider">|</span></li>
			  <li><button class="btn btn-link" type="button" onclick="location.href='/geriatrics'" id="geriatrics">Geriatrics</button> <span class="divider">|</span></li>
			  <li><button class="btn btn-link" type="button" onclick="location.href='/pediatrics'" id="pediatrics">Pediatrics</button> <span class="divider">|</span></li>
			  <li><button class="btn btn-link" type="button" onclick="location.href='/women'" id="women">Women</button></li>
			</ul>
		</div>


		<div class="container">
			<% for(var i=0; i<cases.length; i++) { %>
	  			<div class="row">
		  			<div class="span1">
              			<img src="images/soap/Adults_Case.png" class="img-rounded">
              		</div>
           			<div class="span7" style="padding-top:20px">
       					<h5> <strong><%=cases[i].testcase %></strong> </h5>
       				</div>
          		</div>
              	<hr size="3" noshade>
			<% } %>
		</div>


		<!--Javascript-->
        <script src="assets/js/jquery.js"></script>
		<script src="assets/js/bootstrap.js"></script>

		<script>
			$('#<%=id%>').attr('disabled', true);
		</script>

	</body>
</html>