<!doctype html>
<html>
  
  <head>
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/3b63e2138001e7edecc448a4524f0ef1aa402601.css">
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <h3 class="page-header">Advance Practice (SOAP)</h3>
      <div class="well">
        <form action="/login" method="POST" class="form-vertical" id="form">
          <input class="input-large" placeholder="Email" name="email" required=""
          type="email">
          <br>
          <input class="input-large" name="password" placeholder="Password" type="password">
          <br>
          <button type="submit" class="btn btn-primary btn-small">Login</button>
          <span>|</span>
          <a class="register" href="">Register</a> 
        </form>
      </div>
    </div>
  </body>

</html>